/Ext/
HandleAjaxCall.php
LICENSE
/ModuleInstall/
*.log
SugarCRM_Basic_Development_Rules
/*.php
UpgradeWizard.php
WebToLeadCapture.php
acceptDecline.php
/api/
/cache/
campaign_tracker.php
campaign_trackerv2.php
/clients/
composer.lock
config.php
config_override.php
cron.php
crossdomain.xml
/data/
download.php
emailmandelivery.php
examples/
export.php
files.md5
ical_server.php
image.php
/include/
index.php
install.log
install.php
/install/
json_server.php
/jssource/
leadCapture.php
log_file_restricted.html
maintenance.php
/metadata/
metagen.php
mobile.php
mobile/
!tests/{old}/custom/modules/Accounts/clients/mobile/
!custom/modules/Accounts/clients/mobile/
/modules/
nohup.out
oc_convert.php
package.json
pdf.php
php_errors.log
process_queue.php
process_workflow.php
removeme.php
robots.txt
run_job.php
/service/
/sidecar/*
!/sidecar/tests
/portal2/*
!/portal2/tests
silentFTSIndex.php
soap.php
/soap/
/src/
/styleguide/
sugar_version.json
sugar_version.php
sugarcrm.log
/themes/
touchscreen.php
/upgrade/
/upload/
upload:/
vCard.php
vcal_server.php
/vendor/
/bin/
.DS_Store
cookie.html
*.sql
queueManager.php
/PhantomJS_2.1.1_(Linux_0.0.0)/
/node_modules/
.release_info_for_mothership.json
/custom/history/
ar_SA.lang.ext.php
bg_BG.lang.ext.php
ca_ES.lang.ext.php
cs_CZ.lang.ext.php
da_DK.lang.ext.php
de_DE.lang.ext.php
el_EL.lang.ext.php
en_UK.lang.ext.php
en_us.lang.ext.php
es_ES.lang.ext.php
et_EE.lang.ext.php
fi_FI.lang.ext.php
fr_FR.lang.ext.php
he_IL.lang.ext.php
hu_HU.lang.ext.php
it_it.lang.ext.php
ja_JP.lang.ext.php
ko_KR.lang.ext.php
lt_LT.lang.ext.php
lv_LV.lang.ext.php
nb_NO.lang.ext.php
nl_NL.lang.ext.php
pl_PL.lang.ext.php
pt_BR.lang.ext.php
pt_PT.lang.ext.php
ro_RO.lang.ext.php
ru_RU.lang.ext.php
sk_SK.lang.ext.php
sq_AL.lang.ext.php
sr_RS.lang.ext.php
sv_SE.lang.ext.php
tr_TR.lang.ext.php
uk_UA.lang.ext.php
zh_CN.lang.ext.php
zh_TW.lang.ext.php
/custom/themes/default/images/*.png
/custom/themes/default/images/*.gif
/custom/modules/*/Ext/Vardefs/vardefs.ext.php
/custom/modules/*/Ext/clients/base/layouts/subpanels/subpanels.ext.php
/custom/modules/*/Ext/Language/*.ext.php
/custom/modules/*/Ext/Layoutdefs/layoutdefs.ext.php
/custom/modules/*/Ext/LogicHooks/logichooks.ext.php
/custom/application/Ext/TableDictionary/tabledictionary.ext.php
/custom/application/Ext/Language/*.php
/custom/application/Ext/LogicHooks/logichooks.ext.php
/custom/application/Ext/Include/modules.ext.php
/custom/Extension/application/Ext/TableDictionary/*.php
/custom/Extension/application/Ext/Language/*.php
!/custom/Extension/application/Ext/Language/en_us*.php
/custom/Extension/application/Ext/Include/*.php
/custom/Extension/modules/*/Ext/Language/*.php
!/custom/Extension/modules/*/Ext/Language/en_us*.php
/clover.xml/
/index.xml
/log.xml
/custom/modulebuilder/
/custom/modules/*/logic_hooks.php
!repair.php
/custom/modules/Schedulers/Ext/ScheduledTasks/
/custom/modules/Schedulers/Ext/ScheduledTasks/scheduledtasks.ext.php
/custom/working/
/custom/modules/Connectors/metadata/connectors.php
/custom/modules/*/Ext/WirelessLayoutdefs/*.ext.php
/custom/modules/*/clients/base/views/record/roles/
stock-parent-calls.json
/custom/blowfish/
.bash_history
/karma/
.htaccess
.lesshst
.mysql_history
.viminfo
.buildpath
.project
.settings/
.DS_Store
/custom/application/Ext/JSGroupings/*.ext.php
/custom/modules/Administration/Ext/Administration/*.ext.php
/custom/modules/*/Ext/Dependencies/*.ext.php
tsconfig.json
tslint.json
yarn.lock
custom/application/Ext/ScheduledTasks/scheduledtasks.ext.php
custom/application/Ext/EntryPointRegistry/*.ext.php
/etc/
/dist/
.directory